*{
    font-family: Helvetica, Arial, sans-serif;
    max-width: 700px;
    margin: auto;

  }

body {
      min-width: 500px;
      background-color: #e0eeee;
  }

p
{
font-size: 12px;
margin-left: 2em;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
}
ul
{
    font-size: 12px;
    margin-right: 1em;
    margin-top: 10px;
    scroll-margin-bottom: 10px;
    margin-bottom: 10px;
}

.profileBody {
    display: inline-block;
    background-color: white;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 590px;
  }
h1{
    margin-left: 1em;
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h2{
    margin-left: 1em;
    font-size: 20px;
    margin-top:2px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
}
hr {
    margin-left: 1em;
    margin-right: 1em;
    
}





